
#content {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: minmax(250px, auto);
    grid-template-areas: 
    "image image empty empty empty"
    "image image empty empty empty"
    "image image brandStatement brandStatement brandStatement";
    
}

#image {
    grid-area: image;
    background-image: url('Ild4.jpg');
    background-repeat: no-repeat;
    
}

#empty {
    grid-area: empty;
}


.brandStatement {
    grid-area: brandStatement;
    font-size: large;
}

#myName {
 color: rgb(171, 33, 56);
 font-size: xx-large;
 font-weight: 300;

}

#newTitleIldi {
    font-weight: 700;
}

