
#content {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: minmax(250px, auto);
    grid-template-areas: 
    "image empty empty empty empty"
    "image brandStatement brandStatement brandStatement brandStatement"
    "image brandStatement brandStatement brandStatement brandStatement";
    
    
}

#imageMe {
    grid-area: image;
    background-image: url('Ild4.jpg');
    background-repeat: no-repeat;
    background-size:contain
    
}

#empty {
    grid-area: empty;
}


.brandStatement {
    grid-area: brandStatement;
    font-size: 2rem;
    margin-left: 40px;
}

#myName {
 color: rgb(171, 33, 56);
 font-size: 4rem;
 font-weight: 300;

}

#newTitleIldi {
    font-weight: 700;
}

#cta {
    color: rgb(171, 33, 56);
    padding: 2%;
    border-radius: 50%;
}

