header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

a {
    color: black;
    margin: 1em;
    text-decoration: none;

}

a.active {
    text-decoration: underline;
    
}
#portfolioTitle {
    font-family: 'Lobster Two', cursive;
    font-family: 'Roboto', sans-serif;
    font-family: 'Rubik 80s Fade', cursive;
    font-family: 'Sansita Swashed', cursive;
    font-family: 'Tangerine', cursive;
    color: black;
    font-size: 2em;
}


