header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding-bottom: 1rem;
    clip-path: polygon(
      0% 0%,
      100% 0%,
      100% calc(75% - 1rem),
      0 100%
    );
    
}

a {
    color: white;
    margin: 1em;
    text-decoration: none;
    font-size: 1.5em;

}

a.active {
    text-decoration: underline;
    
}
#portfolioTitle {
    font-family: 'Lobster Two', cursive;
    font-family: 'Roboto', sans-serif;
    font-family: 'Rubik 80s Fade', cursive;
    font-family: 'Sansita Swashed', cursive;
    font-family: 'Tangerine', cursive;
    color: rgb(217, 146, 158);
    font-size: 3em;
    margin-left: 15px;
}


